.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 960px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; min-height: 1px;}
  .column:first-child,
  .columns:first-child,
  .columns:first-child:not(.hidden) {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }



  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%;}
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: Helvetica, Arial, sans-serif;
  color: #666363;
  position: relative;}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 300;
  font-size: 25px; line-height: 1.35; letter-spacing: -.08rem;
  color: #000;}

.h-block {background: url(/static/img/content/bg-h.png) repeat-x 0 10px; text-align: center;}

.h-block h3 {
  background: url(/static/img/content/3x3white.png) repeat-x 0 14px;
  display: inline-block;
  padding: 0 20px;
  font-size: 25px;}


.h-block-l {
  background: url(/static/img/content/bg-h.png) repeat-x 100% 10px; max-width: 500px;}

.h-block-l h3 {
  background: #fff;
  display: inline-block;
  max-width: 500px;
  padding: 0 20px 0 0;
  font-size: 20px;
  text-align: left !important;}

.h-block-disabled h3 {color: #ccc;}

p {
  margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB;
  cursor: pointer;}

a:hover {
  color: #0FA0CE; }

a.dashed, a.dashed-rarr {
  text-decoration: none;
  border-bottom: 1px dashed;}

a.rarr, a.dashed-rarr {
  text-decoration: none;
  border-bottom: none;}

a.rarr span {border-bottom: 1px solid;}

a.dashed-rarr span {border-bottom: 1px dashed;}

a.no-uline {text-decoration: none;}

a.red {
  color: #d9442e;
  border-color: #d9442e;}

a.gray {
  color: #666363;
  border-color: #666363;}

h1 a.dashed, h2 a.dashed, h3 a.dashed {border-bottom-width: 2px;}


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

button {
  display: inline-block;
  min-height: 20px;
  padding: 15px 30px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #d9442e;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0 5px #923b23;
  -moz-box-shadow: 0 5px #923b23;
  box-shadow: 0 5px #923b23;
  text-shadow: 1px 1px 0px #a30c00;
  box-sizing: border-box;
  transition-timing-function: linear;
  transition-duration: 50ms;}

button:active {
  outline: 0;
  -webkit-box-shadow: 0 2px #923b23;
  -moz-box-shadow: 0 2px #923b23;
  box-shadow: 0 2px #923b23;
  transform: translate(0, 3px);
  -webkit-transform: translate(0, 3px);
  -moz-transform: translate(0, 3px);
  -o-transform: translate(0, 3px);
  -ms-transform: translate(0, 3px);
  transition-timing-function: linear;
  transition-duration: 50ms;}

button.small {
  webkit-box-shadow: 0 3px #923b23;
  -moz-box-shadow: 0 3px #923b23;
  box-shadow: 0 3px #923b23;
  min-height: 30px;
  padding: 0 30px;}

button.small:active {
  box-shadow: 0 1px #923b23;
  transform: translate(0, 2px);
  -webkit-transform: translate(0, 2px);
  -moz-transform: translate(0, 2px);
  -o-transform: translate(0, 2px);
  -ms-transform: translate(0, 2px);}

button:disabled, button.disabled {
  text-shadow: none !important;
  background-color: #c5cacd !important;
  box-shadow: 0 5px #b0b4b7 !important;}

button.small:disabled {box-shadow: 0 3px #b0b4b7!important;}

button:focus {outline: 0;}

button.button-img {
  background-repeat: no-repeat;
  background-position: 15px 50%;}

button.gray {
  background-color: #62676a;
  webkit-box-shadow: 0 5px #4d5154;
  -moz-box-shadow: 0 5px #4d5154;
  box-shadow: 0 5px #4d5154;
  text-shadow: 1px 1px 0px #404448;}


button.gray:active {
  webkit-box-shadow: 0 2px #4d5154;
  -moz-box-shadow: 0 2px #4d5154;
  box-shadow: 0 2px #4d5154;}

button.green {
  background-color: #36c77b;
  webkit-box-shadow: 0 5px #268c56;
  -moz-box-shadow: 0 5px #268c56;
  box-shadow: 0 5px #268c56;
  text-shadow: 1px 1px 0px #00ab3b;}

button.green:active {
  webkit-box-shadow: 0 2px #268c56;
  -moz-box-shadow: 0 2px #268c56;
  box-shadow: 0 2px #268c56;}

button.check-mark {background-image: url(/static/img/content/buttons/check-mark.png); padding-left: 55px;}

button.pen {background-image: url(/static/img/content/buttons/pen.png); padding-left: 65px;}

button.pay {background-image: url(/static/img/content/buttons/pay.png); padding-left: 55px;}

button.card {background-image: url(/static/img/content/buttons/lk-cards.png); padding-left: 55px;}

button.money {background-image: url(/static/img/content/buttons/lk-wallet-green.gif); padding-left: 60px;}

button.calendar {background-image: url(/static/img/content/buttons/calendar.png); padding-left: 50px;}

button.safety {background-image: url(/static/img/content/buttons/safety.png); padding-left: 60px;}

button.check-mark {background-image: url(/static/img/content/buttons/check-mark.png); padding-left: 55px;}

button.phone {background-image: url(/static/img/content/buttons/phone.png); padding-left: 60px;}

button.pdf {background-image: url(/static/img/content/buttons/pdf.png); padding-left: 55px;}

button.check-mark:disabled, button.pen:disabled, button.card:disabled, button.money:disabled, button.pay:disabled, button.calendar:disabled, button.safety:disabled, button.check-mark:disabled, button.phone:disabled {background-image: none; padding-left: 30px;}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input, textarea, select {
  font-size: 16px;
  line-height: 1;
  transition-property: border;
  transition-timing-function: linear;
  transition-duration: 500ms;
  height: 30px;
  width: 100%;
  padding: 6px 20px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  background-position: 15px 10px;
  background-repeat: no-repeat;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  box-shadow: none;
  box-sizing: border-box;
  margin-bottom: 20px;}
input.big ,
select.big {height: 50px;}
/* Removes awkward default styles on some inputs for iOS */
input, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

input.error, textarea.error,select.error, .error input , .error textarea, .error select {
  transition-property: border;
  transition-timing-function: linear;
  transition-duration: 500ms;
  color: #fb5240 !important;
  border-color: #fb5240 !important;
  background-position: 15px -39px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(251,82,64,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(251,82,64,1);
  box-shadow: 0px 0px 5px 0px rgba(251,82,64,1);
  background: url(/static/img/content/form-error.png) no-repeat 96% 50%;}

input.success, textarea.success, select.success, .success input, .success textarea, .success select {
  background: url(/static/img/content/form-success.png) no-repeat 96% 50%;}

input:focus, textarea:focus, select:focus {
  transition-property: border;
  transition-timing-function: linear;
  transition-duration: 500ms;
  border: 1px solid #979797;
  outline: 0;}

input:disabled, textarea:disabled, select:disabled {
  background-color: #f6f6f6;
  border: 1px solid #d9d9d9;
  color: #a8a8a8;}

label, legend {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: .5rem;
  font-weight: 500;
  text-align: left;}

label.error, legend.error, .error label, .error legend {color: #fb5240;}

fieldset {
  padding: 0;
  border-width: 0; }

input[type="checkbox"], input[type="radio"] {
  display: inline; }

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }

input[type="radio"],input[type="checkbox"] {
  left: -5000px;
  position: absolute;
  cursor: pointer;}

.checkbox label {
  cursor: pointer;
  padding-left: 40px;
  line-height: 28px !important;
  text-transform: none;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 15px;}


input[type="radio"] + label span, input[type="checkbox"] + label span{
  background:#fff;
  background-image: none;
  display:inline-block;
  vertical-align:middle;
  height: 28px;
  padding: 0 0 0 28px;
  margin-left: -40px;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;}

input[type="radio"]:checked + label span, input[type="checkbox"]:checked + label span {background: url(/static/img/content/checkbox.png) no-repeat 50% 50%;}

.error input[type="radio"] + label span, .error input[type="checkbox"] + label span {border-color: #fb5240;}

.dispensable label, label.dispensable {color: #cbcbcb;}

.dispensable input, label.dispensable {border-color: #e9e9e9;}


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #c4c4c4;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.table-column { width: 100%;
  overflow-y: auto;
  _overflow: auto;
  margin: 0 0 1em;}
table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;}
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #c4c4c4; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }

@media screen and (max-width: 767px) {
  table:not(.ui-datepicker-calendar) thead {
    display: none; }
  table:not(.ui-datepicker-calendar) tr {
    display: block;
    border-bottom: 3px solid #ddd;
    margin-bottom: 15px;}
  table:not(.ui-datepicker-calendar) td {
    display: block;
    text-align: left !important;
    width: 100%;
    padding: 0 0 10px 0;
    text-align: right;
    border-bottom: none; }

  table:not(.ui-datepicker-calendar) td:last-child {
    border-bottom: 0; }
  table:not(.ui-datepicker-calendar) td:before {
    content: attr(data-label);
    width: 100%;
    display: block;
    font-weight: bold;
    font-size: 12px; } }

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 25px; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}